<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% stylesheets filter='cssrewrite' 'bundles/testcsvimport/css/*' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    {% include('TestCsvImportBundle:Partial:header.html.twig') %}
</header>
<section>
    {% block section %}ss{% endblock %}
</section>
<footer>
    {% block footer %}{% endblock %}
</footer>
</body>

{% javascripts
'bundles/testcsvimport/js/jquery-2.0.3.js'
'bundles/testcsvimport/js/plugins/jquery.csvToTable.js'
'bundles/testcsvimport/js/plugins/jquery.jeditable.js'
'bundles/testcsvimport/js/plugins/jquery.dataTables.js'
'bundles/testcsvimport/js/plugins/jquery.json-2.4.js'
'bundles/testcsvimport/js/controller.js'
'bundles/testcsvimport/js/csv/csv-table.js'
'bundles/testcsvimport/js/csv/orderTable.js'
output="js/frontend.js" %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</html>
