<div class="container">
    <div class="row">
        <div class="span12">
            <h3>Test Luigi CSV Import</h3>
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Csv Import Dummy</a>
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">CSV Mapping Profile</a></li>
                        <li><a href="#">Dummy 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>