<div class="upload-file-log">
    <table class="table table-striped">
        {% for log in fileLog %}
        <tr>
            <td>{{ log.name }}</td>
            <td>{{ log.date|date('d-m-Y H:i:s') }}</td>
            <td>
                <a href="{{ path('test_csv_import_csv_import', {csvId: log.id}) }}" class="pull-right">
                    <i class="icon-tasks"></i> Import
                </a>
            </td>
            <td>
                <a href="{{ app.request.uriForPath('/uploads/documents/' ~ log.path) }}" class="pull-right">
                    <i class="icon-download"></i> Download
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>